#mainPage{
  text-align: center;
}

h1{
  letter-spacing: 2px;
}

#insButton:hover{
  background-color:rgb(226, 227, 192);
  cursor: pointer;
}


/*

background-color:rgba(217, 221, 128, 0.882);
background-color:rgba(228, 231, 176, 0.882);*/