<div>
  <h1>Gestione biblioteca</h1>
  <button>Ricerca</button>
  <br>
  <br>
  <button (click)="window()">Inserisci</button>
  <app-inserimento (windowEvent)="changeWindow($event)"></app-inserimento>
  <app-ricerca></app-ricerca>
</div>


<!--
  <div>
  <h1>Gestione biblioteca</h1>
  <button (click)="changeWindow(ricerca)">Ricerca</button>
  <br>
  <br>
  <button (click)="changeWindow(inserimento)">Inserisci</button>
  <app-inserimento *ngIf='window==="inserimento"'></app-inserimento>
  <app-ricerca></app-ricerca>
</div>

-->

<!--
<app-newcity (newCityEvent)="addCity($event)"> </app-newcity>
<app-inserimento (windowEvent)="changeWindow($event)"></app-inserimento>
-->

<!--
<p>
  <input id="nuovo" (keyup.enter)="newCity()" />
</p>
-->