#ins2Button:hover{
  background-color:rgb(154, 226, 149);
  cursor: pointer;
}

#chiudiButton:hover{
  background-color:rgb(226, 227, 192);
  cursor: pointer;
}


/*

#ins2Button:hover{
  background-color:rgba(134, 221, 128, 0.882);
  cursor: pointer;
}*/