<br />
<br />

<input
  type="text"
  id="res"
  placeholder="Ricerca per nome o titolo"
  (keyup)="ricercaLibro()"
/>

<br />
<br />

<div *ngIf="numeroLibri == 1">
  <p>{{titolo}}</p>
  <p>{{autore}}</p>
  <p>{{posizione}}</p>

  <app-rimozione [archivio2]="archivio2" [libroTrovato]="libroTrovato"></app-rimozione>

</div>
<div *ngIf="numeroLibri > 1">
  {{numeroLibri}} corrispondenze trovate
</div>

<div *ngIf="numeroLibri == 0">
  Nessuna corrispondenza trovata
</div>
<div *ngIf="numeroLibri == -1">
</div>



