/* Add application styles & imports to this file! */
body{
  margin: 0; 
  padding: 0; 
  font-family: 'Merriweather', serif;
  font-weight: 400;
  background-color: #c9d8e6;
}

button{
  border-radius: 18px;
  padding: 8px 10px 8px 10px;
  border: none;

  -webkit-box-shadow: 5px 5px 12px 5px #a3a3a3;
    box-shadow: 5px 5px 12px 5px #908e8e;
}

